@font-face {
	font-family: 'nex-font-icons';
	src: url('font-icons/nex-font-icons.eot?ofmmm5');
	src: url('font-icons/nex-font-icons.eot?ofmmm5#iefix') format('embedded-opentype'),
		url('font-icons/nex-font-icons.ttf?ofmmm5') format('truetype'),
		url('font-icons/nex-font-icons.woff?ofmmm5') format('woff'),
		url('font-icons/nex-font-icons.svg?ofmmm5#nex-font-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

$iconMenu: "\e901";
$iconClose: "\e900";
$iconPhone: "\e90e";
$iconMail: "\e904";
$iconFacebbok: "\ea90";
$iconLinkedin: "\eaca";
$iconXing: "\ead4";
$iconClock: "\e902";
$iconPlace: "\e903";
$iconCalendar: "\e905";
$iconPerson: "\e906";