@font-face {
	font-family: 'nex-font-icons';
	src:  url('font-icons/nex-font-icons.eot?jjwjrc');
	src:  url('font-icons/nex-font-icons.eot?jjwjrc#iefix') format('embedded-opentype'),
	  url('font-icons/nex-font-icons.ttf?jjwjrc') format('truetype'),
	  url('font-icons/nex-font-icons.woff?jjwjrc') format('woff'),
	  url('font-icons/nex-font-icons.svg?jjwjrc#nex-font-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }

$iconMenu: "\e901";
$iconClose: "\e900";
$iconPhone: "\e90d";
$iconMail: "\e90c";
$iconFacebook: "\e907";
$iconInstagram: "\e908";
$iconLinkedin: "\e90a";
$iconXing: "\e90f";
$iconClock: "\e902";
$iconPlace: "\e904";
$iconCalendar: "\e909";
$iconPerson: "\e90b";